{% extends "base.html" %}

{% block content %}
<!-- Booking Column -->
<div class="col-12 mt-3 left">
    <div class="row">
        <div class="card-body">
            <div class="cover-text">
                <h2>Book a table at our place!</h2>

                {% for booking in booking_list %}
                    {{ booking }}
                {% endfor %}

                {% if user.is_authenticated %}
                <br/>
                    {% if submitted %}
                        <p>Thank you for Your reservation ! Have a look at <a href="{% url 'menu' %}">Our menu!</a></p>
                        <br/>
                        <br/>                        
                        <p>Would you like to delete your booking?
                        <input type="submit" value="Delete booking" class="btn btn-warning default" name="_delete"></p>
                    {% else %}
                <form id="booking_form" action="" method=POST>
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Book a table" class="btn btn-success default" name="_save">

                </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}