{% extends "base.html" %}

{% block content %}
<!-- Booking Column -->
<div class="col-12 mt-3 left">
    <div class="row">
        <div class="card-body">
            <div class="cover-text">
                <h2>Delete a booking:</h2>
                {% if user.is_authenticated %}
                <br/>

                <ul>
                    {% for booking in booking_list %}
                        <li class="delete-items">{{ booking }}
                        <a href="#" class="btn btn-info btn-sm">Edit Booking</a></li>
                        <a href="#" class="btn btn-warning btn-sm">Delete Booking</a></li>
                    {% endfor %}
                </ul>
                                    
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}