{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="cover-text">
                        <h2>Edit your booking</h2>
                        {% if user.is_authenticated %}
                        <br/>
                        <form id="booking_form" action="" method=POST>
                            
                            {% csrf_token %}
                            {{ form.as_p }}
        
                            <input type="submit" value="Save edit" class="btn btn-info default" name="_edit">
        
                        </form>
                        {% endif %}
                    </div>
                </div>    
            </div>        
        </div>
    </div>
</div>
{% endblock %}