{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Menu Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h1>Examples of food from our Menu</h1>
                {% for menu in menu %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                {{ menu.course_name }}
                                <div class="image-container">
                                    {% if 'placeholder' in menu.course_image.url %}
                                        <img class="card-img-top" src="https://res.cloudinary.com/dvntlbjov/image/upload/v1663245254/heroimg_goodfood_ffmbxq.jpg" alt="image of good food">
                                    {% else %}
                                        <img class="card-img-top" src="{{ menu.course_image.url }}" alt="image of good food">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}