{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Menu Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h1>Menu</h1>
                {% for Starters in menu.course_type %}
                {% endfor %}
                
                {% for menu in menu %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                {{ menu.course_type }}
                                <div class="image-container">
                                {{ menu.course_image }}
                                </div>
                                {{ menu.course_name }}
                                <br>
                                {{ menu.course_description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% endfor %}       
            </div>
        </div>
    </div>
</div>

{% endblock %}